.link-list-block
    background-color: #c04848
    ul
        display: inline-block
        li
            margin: 0
            padding: 0
            background: transparent
            display: inline-block
            a
                color: #fff
                padding: 10px 20px

.profile-search-block
    display: inline-block
    float: left
    form
        margin-bottom: 0
        background-color: transparent
        .search-field
            input
                background: rgba(255,255,255,0.4)
                font-family: $ubuntu
