#footer
    font-size: 11px
    width: 1000px
    text-align: center
    color: #555
    margin: auto
    a
        color: #3a7770
        text-decoration: none
        &:hover
            text-decoration: underline 
   
