@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Ubuntu"); body{background-color:#e8ebf7}body #wrap-1{max-width:1000px;margin:auto}body #user form#top-search{display:none}body #link-go-content{color:transparent}body.action-profile_design-index #content-inner{padding:5%}body a{color:#3a7770;text-decoration:none}body a:hover{text-decoration:underline}#content{background-color:#fff}#content .no-boxes{position:relative}#content .link-list-block{background-color:#3a7270}#content .link-list-block ul{display:inline-block}#content .link-list-block ul li{margin:0;padding:0;background:transparent;display:inline-block}#content .link-list-block ul li a{color:#fff;padding:10px 20px}#content .profile-search-block{display:inline-block;float:right}#content .profile-search-block form{margin-bottom:0;background-color:transparent}#content .profile-search-block form .search-field input{background:rgba(255,255,255,0.4);font-family:"Ubuntu"}#content .profile-search-block form .search-field div{display:none}#content h1{text-align:left;font-family:"Roboto Slab";font-weight:400;font-size:36px;color:#a5bd98}#content .main-content{margin:0 7.6%}#content #profile-header{max-height:none}#content #article{font-family:"Ubuntu";font-size:15px;line-height:1.625;color:#373737;margin:10%}#content #article .article-body-text-article table{width:auto}#content #article .article-body-text-article ul.desplugada-membros{list-style:none}#content #article .article-body-text-article ul.desplugada-membros li{float:left}#content #article-header #article-sub-header{display:none}#content #article-header .publishing-info{display:none}#content table.cms-articles td:last-child{width:130px}.controller-cms .show-media-panel .with_media_panel{width:540px;float:left}.text-editor-sidebar{position:absolute;width:340px;right:20px;top:70px}#footer{font-size:11px;width:1000px;text-align:center;color:#555;margin:auto}#footer a{color:#3a7770;text-decoration:none}#footer a:hover{text-decoration:underline}


.link-list-block ul a:hover {
	background: #1a1f1e;
	text-decoration: none;
	color: #8e8e8e;
}
/*# sourceMappingURL=style.css.map */
#banner{
	position: relative;
	top: 19px;
	margin: auto;
	width: 100%;
}

#article-actions, #article-parent {
	display: none;
}

form#search {
	display: none;
	position: relative;
	left: 190px;
}
#menu-button{
  display: none;
}
#content .link-list-block {
    background-color: #c04848;
}
#content #block-link-list-block{
    background-color: white;
}

form#search {
	display: none;
	position: relative;
	left: 190px;
}
/*control user*/
div#user {
	display: inline-block;
	float: left;
	position: absolute;
	top: 7px;
    left: 176px;
    font-size: 11px;
}
    div#user strong{
        color: white;
    }
	div#user a{
		color: white;
		font-family: verdana;
		border-radius: 0px;
		padding: 8px;
		margin:0px;
		background-color:#c04848;
		text-decoration: none;

	}
	div#user a:hover{
		color: white;
		background: rgba(239, 125, 91, 0.9);
		opacity: 0.8;
	}
	span.welcome {
		display: none;
	}

div#user a{
	color: white;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	background-color:#3a7270;
	text-decoration: none;
}

/*menu*/
div.block-inner-2 li:hover a{
	background: rgba(239, 125, 91, 0.9);
	text-decoration: none;
}

span.welcome {
	display: none;
}

#homepage-link i{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-repeat:no-repeat;
	position: relative;
	margin: 0px;
	padding: 0px 8px 0px 0px;
	top: 5px;
}

/* menu do cms */
.control-panel {
	width: 100%;
	margin: auto;
}

/*slide fotos*/
div.highlights-block{
	background-color: black;
	border-radius: 20px;
	padding: 20px;
	width: 678px;
	height: 349px;
}

div.highlights-container{
	border:0px solid transparent;
}

div.highlights-container img{
	width: 495px;
	height: 300px;
}


/*slide fotos*/
div.highlights-block{
	background-color: black;
	border-radius: 20px;
	padding: 20px;
	width: 678px;
	height: 349px;
}

div.highlights-container{
	border:0px solid transparent;
}

div.highlights-container img{
	width: 495px;
	height: 300px;
}

div.highlights-block-pager{
	text-indent: center;
	position: absolute;
}

div.image-gallery em{
	display: none;
}

/*.highlights-block{
	display: none;
}*/

/*

div.highlights-block-pager{
	text-indent: center;
	position: absolute;
}

div.block-outer .highlights-block {

}

/*
div.image-gallery ul {
	background-color: black;
	border-radius: 20px;
	padding: 20px;
	background-repeat: no-repeat;
}
div.image-gallery ul a style{
	width: 544px;
	height:359px;
}

	div.image-gallery ul li {
		display: inline-table;
	}
		div.image-gallery .image{
			border-color: red;
			border-style: solid;
		}
		div.image-gallery span {
			display: none;
		}
		li.image-gallery-item a{
			width: 150px;
			height: 180px;
		}
*/

@media screen and (max-width: 480px) {
  #link-go-content{
    display: none;
  }
  #banner{
    top: 0px;
    width: 320px;
  }
  div #user{
    display: none;
  }
  #menu-button{
    display: inline-block;
    position: relative;
  }
  #content .link-list-block ul{
    display: grid;
    text-align: center;
    font-size: 85%;
    margin-left: -12%;
    border: 1px 0px;
    border-style: solid;
    border-color: black;
  }
 /*#content .link-list-block ul li{
   display: inherit;
  }*/

  /*.mostra-menu {
    text-align: center;
    font-size: 85%;
    margin-left: -12%;
    border: 1px 0px;
    border-style: solid;
    border-color: black;
  }*/

  #content #li-search{
    display: none;
  }
  #site-title{
    display: none;
  }
  #navigation{
    display: none;
  }
  #footer{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  form#search{
    position: inherit;
  }
  #banner{
    width: 100%;
  }
  #footer{
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  div#user{
    margin-left: 170px;
  }
  #search-box{
    width: 300px;
    margin-left: -150px;
  }
  body #wrap-1{
    max-width: 1024px;
  }
  #banner{
    width: 100%;
  }
}
