@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Ubuntu')
$roboto: 'Roboto Slab'
$ubuntu: 'Ubuntu'
@import header
body 
    background-color: #e3dfba
    #wrap-1
        max-width: 1000px
        margin: auto
    #user
        form#top-search
            display: none
    #link-go-content
        color: transparent
    &.action-profile_design-index
        #content-inner
            padding: 5%
    a
        color: #3a7770
        text-decoration: none
        &:hover
            text-decoration: underline 
      
#content
    background-color: #fff
    .no-boxes
        position: relative
    @import blocks
    @import content
.controller-cms
    .show-media-panel
        .with_media_panel
            width: 540px
            float: left
.text-editor-sidebar 
    position: absolute
    width: 340px
    right: 20px
    top: 70px
@import footer


